.Add_container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.Add_input {
  display: flex;
  border-radius: 30px;
  border: 2px solid #e0e0e0;
  padding: 10px 20px;
  font-size: 25px;
  width: 100%;
}

.Add_button {
  position: absolute;
  right: 6px;
  top: 5px;
  border-radius: 30px;
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.Active_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #dddddd;
  border-radius: 20px;
  padding: 10px 0;
  width: 45%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Active_heading {
  padding: auto;
  text-align: center;
  border-bottom: 2px solid #e9e9e9;
  font-size: 18px;
}

.Completed_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #dddddd;
  border-radius: 20px;
  padding: 10px 0;
  width: 45%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Completed_heading {
  padding: auto;
  text-align: center;
  border-bottom: 2px solid #e9e9e9;
  font-size: 18px;
}
