.Add_container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.Add_input {
  display: flex;
  border-radius: 30px;
  border: 2px solid #4caf50;
  padding: 10px 20px;
  font-size: 25px;
  width: 100%;
}

.Add_button {
  position: absolute;
  right: 6px;
  top: 5px;
  border-radius: 30px;
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.Add_button:hover {
  background-color: #45a049;
}

.Add_button:active {
  padding: 8px;
}

.Active_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #dddddd;
  border-radius: 20px;
  padding: 10px 0;
  width: 45%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.Active_heading {
  padding: auto;
  text-align: center;
  border-bottom: 2px solid #e9e9e9;
  font-size: 18px;
}

.Active_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
}

.Completed_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #dddddd;
  border-radius: 20px;
  padding: 10px 0;
  width: 45%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.Completed_heading {
  padding: auto;
  text-align: center;
  border-bottom: 2px solid #e9e9e9;
  font-size: 18px;
}

.Completed_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
}

.Single_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  background-color: #45a049;
  border-radius: 15px;
  padding: 5px 10px;
  align-items: center;
}

.Single_text {
  color: white;
  font-size: 20px;
  word-break: break-word;
  flex-grow: 1;
}

.Single_button {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.Single_buttoncontainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.SingleCompleted_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  border-radius: 15px;
  padding: 5px 10px;
}

.SingleCompleted_text {
  color: white;
  font-size: 20px;
  word-break: break-word;
  flex-grow: 1;
}

.SingleCompleted_button {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
