.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.Tasklists_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}
